* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background: #ececec;
}

.container {
  display: grid;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

#particles-js {
  background: #1850b6;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.menu {
  padding: 0px;
  margin: 20px;
  list-style-type: none;
  position: absolute;
  right: 0;
}

.menu > li {
  margin: 20px;
  display: inline-block;
}

.menu > li:hover {
  border-bottom: 2px solid #dbdbdb;
}

.menu > li > a {
  color: white;
  text-decoration: none;
}

#header-container {
  display: grid;
  position: absolute;
  margin: 150px;
  grid-template-columns: auto 1fr;
}

#header-img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  #header-img {
    max-width: 50px;
  }
}

#header-intro {
  grid-column-start: 2;
  margin: auto;
  padding-left: 50px;
  max-width: 1000px;
}

.header-text {
  color: white;
  text-shadow: 2px 2px black;
}

#header-main-text {
  font-size: 1.5vw;
}

#header-support-text {
  font-size: 1.15vw;
}

#header-social {
  padding: 0px;
}

.social-item {
  display: inline-block;
  padding: 0 5px;
}

.social-link {
  text-decoration: none;
}

.social-icon {
  color: white;
}

.social-icon:hover {
  color: #dbdbdb;
}

.section-title {
  margin: 25px 0px;
  font-size: 1.7rem;
  text-align: center;
}

.section-container {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.section-container > ul > li{
  font-size: 0.9rem;
}

.section-information {
  text-align: right;
  line-height: 10px;
}

.education-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.education-container > h4 {
  margin: 0px;
}

.education-information {
  margin: 0px;
}

#education-coursework-title {
  margin-bottom: 3px;
  font-weight: 900;
}
.underline {
  border-bottom: 1px solid black;
}